In [7]:
import pandas as pd

In [8]:
# File to load
movie= "movies_metadata.csv"

In [10]:
# Read csv file
file2 = "nextBechdel_castGender.csv"
movies_data= pd.read_csv(movie)
movies_data.head()

C:\Users\becky\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [25]:
# Remove columns 
movies_data["production_countries"]
movies_df= movies_data.drop(columns=["adult","belongs_to_collection", "homepage", "imdb_id", "original_title", 
                                  "runtime", "spoken_languages", "tagline", "poster_path", "video","genres", "original_language",
                                    "overview", "popularity","production_companies","vote_average","vote_count"])
movies_df

,budget,id,production_countries,release_date,revenue,status,title
0,30000000,862,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,Released,Toy Story
1,65000000,8844,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,Released,Jumanji
2,0,15602,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,Released,Grumpier Old Men
3,16000000,31357,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,Released,Waiting to Exhale
4,0,11862,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,Released,Father of the Bride Part II
...,...,...,...,...,...,...,...
45461,0,439050,"[{'iso_3166_1': 'IR', 'name': 'Iran'}]",NaN,0.0,Released,Subdue
45462,0,111109,"[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0,Released,Century of Birthing
45463,0,67758,"[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,Released,Betrayal
45464,0,227506,"[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,Released,Satan Triumphant
45465,0,461257,"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,Released,Queerama

In [26]:
# Movies produced only in the US
movies_US_df= movies_df[movies_df["production_countries"] == "[{'iso_3166_1': 'US', 'name': 'United States of America'}]"]

In [95]:
movies_US_df= movies_df[movies_df["production_countries"] == "[{'iso_3166_1': 'US', 'name': 'United States of America'}]"]
movies_US_df = movies_US_df.drop(columns=["production_countries"])
movies_US_df

,budget,id,release_date,revenue,status,title
0,30000000,862,1995-10-30,373554033.0,Released,Toy Story
1,65000000,8844,1995-12-15,262797249.0,Released,Jumanji
2,0,15602,1995-12-22,0.0,Released,Grumpier Old Men
3,16000000,31357,1995-12-22,81452156.0,Released,Waiting to Exhale
4,0,11862,1995-02-10,76578911.0,Released,Father of the Bride Part II
...,...,...,...,...,...,...
45454,0,420346,2015-01-11,0.0,Released,The Morning After
45456,0,84419,1946-03-29,0.0,Released,House of Horrors
45458,0,289923,2000-10-03,0.0,Released,The Burkittsville 7
45459,0,222848,1995-01-01,0.0,Released,Caged Heat 3000
45463,0,67758,2003-08-01,0.0,Released,Betrayal

In [32]:
#cast data
cast = pd.read_csv(file2)
cast.head()

,MOVIE,ACTOR,CHARACTER_NAME,TYPE,BILLING,GENDER
0,Tyler Perry’s Boo! A Madea Halloween,Tyler Perry,Madea/Joe/Brian,Leading,1,Male
1,Tyler Perry’s Boo! A Madea Halloween,Cassi Davis,Aunt Bam,Supporting,2,Female
2,Tyler Perry’s Boo! A Madea Halloween,Patrice Lovely,Hattie,Supporting,3,Female
3,Tyler Perry’s Boo! A Madea Halloween,Yousef Erakat,Jonathan,Supporting,4,Male
4,Tyler Perry’s Boo! A Madea Halloween,Lexy Panterra,Leah,Supporting,5,Female

In [53]:
test = (cast.GENDER == "Female")
female_cast = cast.loc[test,:]

In [80]:
female_movies = female_cast.groupby(['MOVIE'])['ACTOR'].count()

In [96]:
fm = pd.DataFrame(female_movies)
fm1 = fm.reset_index(inplace=True)
fm2 = fm.rename(columns = {'MOVIE' : 'title', 'ACTOR' : 'actor_count'})
fm2

                                               title  actor_count
0                                10 Cloverfield Lane            3
1                    Alice Through the Looking Glass            9
2                                            Arrival           21
3                                           Bad Moms           10
4                 Batman v Superman: Dawn of Justice           36
5                         Captain America: Civil War            6
6                               Central Intelligence            4
7                                           Deadpool           11
8                                     Doctor Strange            8
9                                      Don’t Breathe            5
10           Fantastic Beasts and Where to Find Them           16
11                                      Finding Dory            8
12                                      Ghostbusters           16
13                                     Hacksaw Ridge            5
14                                    Hidden Figures           32
15                         Ice Age: Collision Course            6
16                      Independence Day: Resurgence            8
17                                      Jason Bourne            6
18                                   Kung Fu Panda 3            9
19                                        La La Land           20
20                                        Lights Out           10
21       Miss Peregrine’s Home for Peculiar Children           16
22                                             Moana            3
23                                  Now You See Me 2           12
24                                        Passengers           11
25                                     Pete’s Dragon           11
26                                      Ride Along 2           15
27                      Rogue One: A Star Wars Story            6
28                                     Sausage Party            8
29                                              Sing           16
30                                  Star Trek Beyond            6
31                                            Storks            7
32                                     Suicide Squad           10
33                                             Sully           15
34  Teenage Mutant Ninja Turtles: Out of the Shadows            5
35                                    The Accountant           14
36                             The Angry Birds Movie           17
37                                          The Boss           18
38          The Conjuring 2: The Enfield Poltergeist           15
39                   The Divergent Series: Allegiant           36
40                             The Girl on the Train            7
41                                   The Jungle Book            2
42                              The Legend of Tarzan           10
43                             The Magnificent Seven            3
44                          The Purge: Election Year           11
45                           The Secret Life of Pets            6
46                                            Trolls           15
47              Tyler Perry’s Boo! A Madea Halloween            8
48                                 X-Men: Apocalypse           18
49                                          Zootopia           10

In [94]:
df = movies_US_df.merge(fm2, on=['title'], how='inner')
df

,budget,id,release_date,revenue,status,title,actor_count
0,0,10714,1994-12-23,0.000000e+00,Released,The Jungle Book,2
1,4000000,9325,1967-10-17,2.058436e+08,Released,The Jungle Book,2
2,30000000,620,1984-06-07,2.952125e+08,Released,Ghostbusters,16
3,144000000,43074,2016-07-14,2.291475e+08,Released,Ghostbusters,16
4,2000000,966,1960-10-22,4.905000e+06,Released,The Magnificent Seven,3
5,90000000,333484,2016-09-14,1.623606e+08,Released,The Magnificent Seven,3
6,0,94727,1926-01-07,0.000000e+00,Released,Moana,3
7,150000000,277834,2016-11-23,6.430345e+08,Released,Moana,3
8,0,241261,2014-07-03,0.000000e+00,Released,The Girl on the Train,7
9,45000000,346685,2016-10-05,1.731859e+08,Released,The Girl on the Train,7
10,0,14830,2007-08-14,0.000000e+00,Released,Doctor Strange,8
11,165000000,284052,2016-10-25,6.777184e+08,Released,Doctor Strange,8
12,58000000,293660,2016-02-09,7.831130e+08,Released,Deadpool,11
13,250000000,271110,2016-04-27,1.153304e+09,Released,Captain America: Civil War,6
14,178000000,246655,2016-05-18,5.439348e+08,Released,X-Men: Apocalypse,18
15,75000000,328111,2016-06-18,8.754579e+08,Released,The Secret Life of Pets,6
16,175000000,297761,2016-08-02,7.456001e+08,Released,Suicide Squad,10
17,165000000,47933,2016-06-22,3.896819e+08,Released,Independence Day: Resurgence,8
18,185000000,188927,2016-07-07,3.434718e+08,Released,Star Trek Beyond,6
19,250000000,209112,2016-03-23,8.732602e+08,Released,Batman v Superman: Dawn of Justice,36
20,40000000,323675,2016-01-14,1.248273e+08,Released,Ride Along 2,15
21,15000000,333371,2016-03-10,1.082864e+08,Released,10 Cloverfield Lane,3
22,150000000,269149,2016-02-11,1.023784e+09,Released,Zootopia,10
23,200000000,127380,2016-06-16,1.028571e+09,Released,Finding Dory,8
24,29000000,323676,2016-04-07,7.863626e+07,Released,The Boss,18
25,0,61903,1956-10-01,0.000000e+00,Released,The Boss,18
26,50000000,302699,2016-06-15,2.169725e+08,Released,Central Intelligence,4
27,105000000,278154,2016-06-23,4.085790e+08,Released,Ice Age: Collision Course,6
28,4900000,345911,2016-07-21,1.488688e+08,Released,Lights Out,10
29,60000000,363676,2016-09-07,2.384700e+08,Released,Sully,15
30,20000000,376659,2016-07-28,1.839361e+08,Released,Bad Moms,10
31,44000000,302946,2016-10-14,1.551600e+08,Released,The Accountant,14
32,47000000,329865,2016-11-10,2.033882e+08,Released,Arrival,21
33,70000000,332210,2016-09-22,1.823793e+08,Released,Storks,7
34,30000000,313369,2016-11-29,4.454357e+08,Released,La La Land,20
35,125000000,136799,2016-10-13,3.468645e+08,Released,Trolls,15
36,200000000,330459,2016-12-14,1.056057e+09,Released,Rogue One: A Star Wars Story,6
37,110000000,274870,2016-12-21,3.031442e+08,Released,Passengers,11
38,25000000,381284,2016-12-10,2.306988e+08,Released,Hidden Figures,32
39,75000000,335797,2016-11-23,6.324437e+08,Released,Sing,16

In [ ]:
bechdel_test = 0
for title in movies_US_df:
    'title' == fm('MOVIE')
    bechdel_test +=1
    print('title')
print(bechdel_test)